<h2 class="page-header">Create user</h2>
<form class="form-horizontal">
    {{partial 'user/form'}}
    <div class="form-group">
        <div class="col-sm-offset-2 col-sm-10">
            <button type="button" class="btn btn-primary btn-sm" title="Save new user" {{action 'saveNewUser' this}}>
                <span class="glyphicon glyphicon-ok"></span> Save
            </button>
            <button type="button" class="btn btn-default btn-sm" title="Cancel new user" {{action 'cancelNewUser' this}}>
                <span class="glyphicon glyphicon-minus"></span> Cancel
            </button>
        </div>
    </div>
</form>
