<h2 class="page-header">About</h2>
<p>
    This is a simple web client template based on the <a href="http://www.emberjs.com">ember framework</a> that
    communicates with a <a href="https://github.com/kgish/ruby-hal-server">HAL server</a>.
</p>
<p>
    For more information, please have a look at <a href="https://github.com/kgish/ember-hal-client">ember-hal-client</a>.
</p>
<p>
    Brought to you by <a href="mailto:kiffin.gish@planet.nl">Kiffin</a>.
</p>
<hr />
<p>
    <a href="http://github.com/kgish" target="_blank"><img src="/assets/images/github.png" title="Github"/></a>
    <a href="http://twitter.com/kiffin" target="_blank"><img src="/assets/images/twitter.png" title="Twitter"/></a>
    <a href="http://www.google.com/+KiffinGish" target="_blank"><img src="/assets/images/googleplus.png" title="Google+"/></a>
    <a href="http://www.facebook.com/kiffin.gish" target="_blank"><img src="/assets/images/facebook.png" title="Facebook"/></a>
</p>
